/** Header **/

.navbar-brand
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color : black !important;
    font-size: 34px !important;
    margin-top: 10px;
}
.container
{
    margin-left:0;
    margin-right: 0;
}
#header-nav{
    background-color: lightseagreen; 
    border-radius: 0;
    border: 0;
 
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid black;
  }
  .navbar-nav>li>a
  {
      text-align: center;
      color: black !important;
      font-size: 1.5em;
      border-bottom: 1px solid black;
  }
  .navbar-nav
  {
      margin-bottom:0;
      margin-top:0;
}
  .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: black;
}
h2
{
    text-align: center;
}

/** Header end **/
/** Body start **/
h3
{
    text-align: center;
   padding-top: 15px;
   color:white;
}
p
{
    font-size: 24px;
    padding: 30px;
    color: white;
    
}
.main-container
{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-family: Georgia, 'Times New Roman', Times, serif
    
}
.main-container-menu
{
    background: turquoise;
    min-height: 500px;
}
